body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: white;
  color: #94775f;
}

h1 {
  margin-bottom: 10px;
  font-size: 100px;
  font-family: Arial;
}

.logo {
  width: 800px;
}

.buttons-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.filter-button {
  width: 100px;
  color: #f2ac86;
  background-color: white;
  border: solid rgb(102, 102, 102) 1px;
}

.filter-button:hover {
  color: black;
  background-color: white;
  border: none;
}

#application {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.int1,
.int2 {
  margin: 30px;
  height: 60px;
  width: 60px;
}
.int1-img,
.int2-img {
  margin: 30px;
  height: 60px;
  width: 60px;
}

.profile-card {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 2%;
}

.profile-card img {
  width: 60%;
  height: 60%;
  align-items: top;
  border-radius: 50%;
}

#show-score {
  margin-top: 40px;
}

.liked-profile-card img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.liked-profile-card button {
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

.liked-profile-card {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: #f0f0f0;
}
